<html>
	<head>
		<title>Todo Application</title>
	</head>
	<body>
		<table>
			<thead>
				<tr>
					<th>Usersname</th>
					<th>Todo</th>
					<th>isDone</th>
					<th>hasAttachment</th>
				</tr>
			</thead>
			<tbody>

			</tbody>
		</table>
	</body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="/assets/js/script.js"></script>
</html>